[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
requests = "*"
plotly = "*"
kaleido = "==0.1.0post1"
pandas = "*"
numpy = "*"

[dev-packages]

[requires]
python_version = "3.9"
